body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefaf6;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 100px;
}
.head{
    display: flex;
    color: black;
    font-family:Arial, sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 120px;
    margin-bottom: -30px;
    font-size:25px;
    align-items: start;    
}
.menu {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: -100px;
}
.cart {
    margin-left: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 230px ;
    width: 270px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.cart h1{
    color: rgb(194, 50, 50);
    font-size: 15px;
    font-weight: bold;
}
.cart img{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    padding: 10px 70px;
}
.cart p{
    margin:0;
    padding: 0;
    font-weight: bold;
    font-size: 15px;
}
.item {
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}
.item img {
    width: 100%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.item img:hover{
    border: 1px solid rgb(176, 57, 57);
}
.item h3 {
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: start;
    font-weight: 200;
}
.item p {
    color: #888;
    font-size: 15px;
    text-align: start;
}
.item .amount{
    text-align: start;
    color: #ff5722;
    font-weight: bold;
}
.item button{
    background-color: white;
    color: black;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid rgb(138, 135, 135);
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -36%;
    left: 20%;
    border: 1px solid;
    display: flex;
    gap: 1px;
    justify-content: center;
}
.item svg{
    padding: 5px 5px;
}
.item button:hover {
    border: 1px solid rgb(176, 57, 57);
}
.cart h2 {
    margin-bottom: 20px;
}
.cart ul {
    list-style: none;
    padding: 0;
}
.cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cart .total {
    font-weight: bold;
    font-size: 18px;
}
.cart button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}


